<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="~/Style/Style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*script integration calender*@ 
    <script src="~/Scripts/Calender.js"></script>

    <style type="text/css">
        /*Responsive ... Internet Explorer v11*/
        _:-ms-fullscreen, :root audio {
            width: 70%;
            height: 23px;
        }

        _:-ms-fullscreen, :root #divCal {
            margin-top: -22%;
        }

    </style>

</head>


<body>
   

    <div class="wrapper wrapper-global">
        @*Left Side *@
        @*Card with circle image and calender*@
        <div id="one" class="row-one">

            <div class="wrapper wrapper-card">
                <div class="circle-image">
                    <div class="card card-circle-image" style="width:246px">
                        @*<img src="~/Images/circle-image.PNG" class="card-img-top" alt="Card image" style="width:100%"/>*@
                        <img src="~/Images/tof.jpg" class="card-img-top rounded-circle" alt="Card image" style="width:97%; height:47%;" />

                        <div class="card-body">
                            <h4 class="card-title">De Westerkerk</h4>
                            <p class="card-text">Prinsingrasht 281</p>
                            <a href="#" class="btn btn-primary">view on maps</a>
                        </div>
                    </div>
                </div>



                <div class="calendar-wrapper">
                    <i class="fa fa-angle-left" id="btnPrev"></i>
                    <i class="fa fa-angle-right" id="btnNext"></i>
                    <div id="divCal"></div>
                </div>

            </div>

        </div>


        @*Right Side*@
        @*Navbar on the top and the rest on bottom*@
        <div id="two">
            @*NAVBAR*@

            <nav class="navbar navbar-expand-sm ">

                @*<div class="collapse navbar-toggleable" id="mainNavbarCollapse">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
            &#9776; nav-pills nav-justified
        </button>*@

                <ul class="navbar-nav nav ">
                    <li class="nav-item" id="main">

                        <img src="~/Images/icon-home.PNG" class="home-icon" />
                        @*<i class="fa fa-home"></i>*@
                        <a class="nav-link active" href=""> @Html.ActionLink("Home", "Index")</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/Images/icon2.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Gallerie", "Galleries")</a>
                    </li>
                    <li class="nav-item">

                        <img src="~/Images/icon1.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Message", "Message")</a>
                    </li>
                    <li class="nav-item">

                        <img src="~/Images/icon3.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Music", "Music")</a>
                    </li>
                    <li class="nav-item">

                        <img src="~/Images/icon-search.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Search", "Search")</a>
                    </li>
                    <li class="nav-item">

                        <img src="~/Images/icon4.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Settings", "Settings")</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/Images/icon5.PNG" />
                        <a class="nav-link" href="">@Html.ActionLink("Location", "Location")</a>
                    </li>

                </ul>
                @*</div>*@
            </nav>

            @*Wrapper contains video and weather and Amesterdam*@ 
            <div class="wrapper wrapper-under-sidenav">
                @*video *@ 

                <div id="one" class="video meteo-video">
                    <video class="rounded" width="300" height="290" controls>
                        <source src="~/Images/video.mp4" type="video/mp4" />
                    </video>

                    @*weather*@
                    <div class="weather">
                        <div class="current">
                            <div class="info">
                                <div>&nbsp;</div>

                                <div class="temp">
                                    12&deg;
                                    <small>
                                        <img src="~/Images/weather.PNG" style="margin-top: -20px;" />
                                    </small>
                                </div>

                                <div>&nbsp;</div>
                            </div>
                            <div class="icon">
                                <span class="wi-day-sunny"></span>
                            </div>
                        </div>
                        <div class="future">
                            <p>Saturday 16 january</p>
                        </div>
                    </div>


                </div>

                @*Card amesterdam*@
                <div id="two">
                    <div class="card card-2">
                        <img class="card-img-top img-Amesterdam" src="~/Images/amesterdam.PNG" alt="Card image" style="width:100%" />
                        <div class="card-body">
                            <h4 class="card-title">Amesterdam</h4>
                            <p class="card-text">Amesterdam is the capital city of and the most populous within the kingdom of the netherlands. Amesterdam's name derives from amesterdamme. Amesterdam is located in the western...</p>

                        </div>
                    </div>
                </div>

            </div>

            @*volume and search form*@
            <div class="wrapper wrapper-footer">
                @*Image with Volume*@
                <div id="one" class="son container-fluid">
                    <form class="form-inline">
                        <div class="form-group">
                            <img src="~/Images/Photo.PNG" />
                            @* <input type="password" id="inputPassword4" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">*@
                            <small id="passwordHelpInline container" class="text-muted">
                                <p class="p1">Ceef mij maar amesterdam</p>
                                <p class="p2">Johnny jordaan</p>
                                
                                <audio controls="controls">
                                    <source src="~/Images/ASP.mp3" type="audio/mpeg" />
                                </audio>
                            </small>
                        </div>
                    </form>
                </div>


                @*Search form*@
                <div id="two" class="form-search">
                    <input type="search" class="form-control-search form-control" placeholder="Find your city place" />
                    <div class="row">

                        <div class="checkbox col-4">
                            <label>
                                <input type="checkbox" class="check"> Add to favorites
                            </label>
                        </div>
                        <div class="col-4">
                            <button type="submit" value="search" class="btn btn-danger btn-search">Search</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</body>
</html>
